*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Alegreya Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Alegreya", serif;
}
.clear-float{
    clear: both;
}
.clear{
    clear: both;
}
/* global values */


/* Hedare section */
.hader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff; 
}
.hader .hader-nav {
    width: 90%;
    margin: auto;
}
.hader .hader-nav .nav-inage{
    width: 15%;
    padding: 30px;
    float: left;
}
.hader .hader-nav .nav-inage img{
    width:100%;
}
.hader .hader-nav .nav-ul{
    float: right;
    padding: 20px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
}
.hader .hader-nav .nav-ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
    color: black;
}
/* Offer section */
.Offer-section{
    margin-top: 100px;
    background-image: url('../images/drew-coffman-1872.jpg');
    background-position:center;
    background-size: cover;
    text-align: center;
}
.Offer-section .Offer-text{
    color: white;
    overflow: auto;
}
.Offer-section .Offer-text h1{
    font-size: 56px;
    font-weight: 400;
    margin-block: 32px;
}
.Offer-section .Offer-text p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

/* Our Offer section */
.Our-Offer-contaner{
    margin-block:50px;
}
.items{
    width: 90%;
    margin: auto;
}
.item{
    width: 33.333%;
    float: left;
    padding: 20px;
    position: relative;
}
.item h5{
    border-bottom: 1px solid rgba(128, 128, 128, 0.653);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 13px;
}
.item p{
    font-size: 17px;
    font-weight: 400;
    padding-top: 13px;
    line-height: 30px;
}
.item span{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: 300;
}
/* About section */
.About-us-contaner{
    background-image: url('images/contact-details-map.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #403D38;
}
.deta{
    width: 90%;
    margin: auto;
}
.text{
    float: left;
    width: 25%;
    margin-block: 50px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.629);
}
.text h4{
    font-size: 18px;
    font-weight: 400;
}
.text p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.text h4{
    margin-bottom: 20px;
}
.text ul li{
    padding: 7px;
    list-style: none;
    border-bottom:1px solid #4A4742 ;
    padding-bottom:10px ;
    margin-bottom: 10px;
}
.text ul li i{
    color: white;
    margin-right: 10px;
}

/* fotter section */

.footer{
    background-color: #35332F;
    padding-block:20px ;
    text-align: center;
}
.footer img{
    margin-block: 30px;
}
.footer p{
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.395);
}
.footer .sos-icon i{
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.395);
    background-color: #494640;
    border-radius: 50%;
    line-height: 40px;
}
